@media (min-width: 600px) {
	.input-bubble {
		margin-left: 50vw;
	}
}

.message-form {
	padding: 10px;
	display: flex;
	gap: 7px;
}

.message-form-input {
	font-size: 18px;
	padding: 5px;
	width: 95%;
	background-color: transparent;
	color: #fff;
	border: solid 2px #fff;
	border-top: none;
	border-left: none;
	border-right: none;
}

.message-form-submit {
	background-color: transparent;
	border: none;
	color: #fff;
	font-size: 23px;
}

